.register {
  width: 100%;
  overflow: hidden;
}
.register .login_btn {
  background: #21424a;
  transform: skewX(-16deg);
}
.register .register_btn {
  background: #2fac6c;
  transform: skewX(-16deg);
}
.register_btn:hover,
.login_btn:hover {
  cursor: pointer;
  /* transform: scale(1.1); */
}
.register_btn a,
.login_btn a {
  color: #fff;
  font-size: 1.375rem;
  font-family: "lotobold";
  text-transform: uppercase;
  padding: 25px 0px;
  display: inline-block;
  transform: skewX(20deg);
}
